 /*footer*/
 .pie{
    align-items: center;
    margin-top: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,36,98,1) 7%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    padding: 30px;
    transition: all;

    
  }
  .pie p{
    margin-left: 40px;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  .pie img{
    width:60px;
    height: 100%;
    object-fit: cover;
  }
 .pie img:hover{
  
  transform:rotate(-10deg);
 }