/*css de contacto*/
.container-formulario formulario h1{

    text-align: center;
  }
  .container-formulario{
    padding-left: 485px;

  }

  .formulario{
    display: flex;
    flex-direction: column;
    width:850px;
    padding: 80px;
    margin: 50px;
    
  }